body{
    background-color:white;
    width: 100%;
    height: 100vh;
}

#provider {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #provider td, #provider th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #provider tr:nth-child(even){background-color: #f2f2f2;}
  
  #provider tr:hover {background-color: #ddd;}
  
  #provider th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }