html, body { 
    height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("https://e7.pngegg.com/pngimages/353/876/png-transparent-blue-medical-healthcare-background-with-cardiograph.png"); }