input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
  }
  
  select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
  
  }
  
  button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
  }
  
  .firstdiv{
      margin-left: 20vw;
      margin-right: 20;
      width: 50vw;
      padding: 1vw 1vw 1vw 15vw;
  }
  
  .seconddiv{
    padding-right: 5%;
    padding-left: 5%;
    display: inline-flex;
  }
  
  .seconddiv label{
    padding-right: 2%;
    padding-left: 2%;
  }
  
  body{
    background-color:white;
    width: 100%;
    height: 100%;
    
  }